* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --strongcyan: hsl(171, 66%, 44%);
  --colorShadeC: hsl(171, 50%, 44%);
  --greenhover: hsl(171, 66%, 54%);
  --lightblue: hsl(233, 100%, 69%);
  --colorShadeB: hsl(233, 55%, 64%);
  --bluehover: hsl(233, 80%, 75%);
  --heading: hsl(210, 10%, 33%);
  --par: hsl(201, 11%, 66%);
}

body {
  color: var(--par);
  font-size: 16px;
  font-family: 'Bai Jamjuree',
    sans-serif;
  text-align: center;
}

/* utilities */

.container {
  width: 375px;
  margin: 0 auto;
}

.container--margin {
  margin-top: 125px;
}

.item__img {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 90%;
  color: white;
  font-weight: 700;
  padding: 15px 50px;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.25rem;
  border: 0;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.btn--green {
  background: var(--strongcyan);
  margin-bottom: 25px;
}

.btn--green:hover,
.btn--green:focus {
  background: var(--greenhover);
}

.btn--blue {
  background: var(--lightblue);
}

.btn--blue:hover,
.btn--blue:focus {
  background: var(--bluehover);
}

.btn::before {
  position: absolute;
  content: "";
  margin: 0 auto;
  width: 98%;
  height: 79%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.btn--green::before {
  background: var(--colorShadeC);
  box-shadow: 0px 8px 10px 0px rgba(38, 186, 164, 0.14);
}

.btn--blue::before {
  background: var(--colorShadeB);
  box-shadow: 0px 8px 10px 0px rgba(38, 60, 186, 0.14);
}

.btn--green:hover::before,
.btn--green:focus::before {
  background: hsl(171, 66%, 47%);
}

.btn--blue:hover::before,
.btn--blue:focus::before {
  background: hsl(233, 80%, 70%);
}

a {
  text-decoration: none;
}

/* typography */

h1,
h2,
h3 {
  color: var(--heading);
}

h1 {
  padding: 0 20px;
  padding-bottom: 25px;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.3;
  padding: 0 20px;
  padding-bottom: 25px;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.caption__main {
  line-height: 1.6;
  padding-bottom: 45px;
}

/* header */

header {
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__img {
  padding-top: 150px;
  padding-bottom: 50px;
}

/* Features */

.caption__features {
  width: 375px;
  margin: 0 auto;
}

.features__img {
  padding-top: 45px;
  width: 75%;
}

.container__features h3 {
  padding: 45px 0 15px 0;
}

.container__features p {
  line-height: 1.6;
  padding: 0 30px;
}

/* workflow */

.container__workflow {
  margin-top: 50px;
}

.grid__workflow {
  margin-top: 50px;
}

.icon__img--flex {
  margin: 32px 0;
}

.container__workflow p {
  padding: 0 20px;
  line-height: 1.6;
}

.icon__img {
  padding-top: 80px;
  padding-bottom: 25px;
}

/* brands */

.container__brands {
  display: flex;
  flex-direction: column;
  gap: 75px;
  align-items: center;
}

.brand__img {
  width: 35%;
}

/* download */

.container__download {
  margin-bottom: 150px;
}

/* footer */

.footer__container {
  background: rgb(243, 243, 243);
  padding: 50px 0;
}

.footer__img {
  width: 50px;
  height: 50px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0 50px 0;
}

.footer__menu__link {
  color: var(--heading);
  font-size: 1.25rem;
}

.footer__menu__link:hover,
.footer__menu__link:focus {
  color: var(--strongcyan)
}

/* footer - social */

.social {
  display: flex;
  gap: 45px;
  justify-content: center;
  padding-bottom: 25px;
}

.social__icon {
  color: var(--heading);
  font-size: 32px;
}

.social__icon:hover,
.social__icon:focus {
  color: var(--strongcyan);
}

/* desktop */

@media (min-width: 760px) {

  body {
    font-size: 18px;
  }

  h1 {
    font-size: 3rem;
  }

  .container {
    width: 80%;
    max-width: 768;
    margin-right: auto;
    margin-right: auto;
  }

  .buttons {
    flex-direction: row;
    gap: 20px;
  }

  .btn {
    width: 290px;
  }

  .btn--green {
    margin-bottom: 0;
  }

  /* features */

  .container__features {
    max-width: 768;
    margin-right: auto;
    margin-right: auto;
  }

}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    max-width: 1100px;
  }

  .container--margin {
    margin-top: 80px;
  }

  /* features */

  .caption__features {
    width: 80%;
    max-width: 1100px;
  }


  .full__flex {
    display: flex;
    gap: 55px;
    justify-content: center;
  }

  .feature__items {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .feature__items p {
    padding: 0;
  }

  .features__img {
    width: min(47rem, 53vw);
  }

  .feature__items {
    max-width: 396px;
    margin-top: 2rem;
  }

  /* workflow */

  .container__workflow {
    margin-top: 10px;
  }

  .grid__workflow {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .workflow__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .icon__img--flex {
    width: 3.5rem;
    height: 2rem;
    display: flex;
    align-items: flex-start;
  }

  .icon__img--flex img {
    width: min-content;
  }

  /* brands */

  .container__brands {
    flex-direction: row;
    gap: 3.5rem;
    justify-content: center;
  }

  .container__brands img {
    width: min-content;
  }

  /* footer */

  .footer__container .container {
    display: flex;
    align-items: center;
  }

  .footer__img {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1.25rem;
  }

  .footer__menu {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    margin-left: 80px;
    gap: 1.25rem 5rem;
    text-align: left;
  }

  .footer__menu :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .footer__menu :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .footer__menu :nth-child(3) {
    grid-column: 2;
    grid-row: 1;
  }

  .footer__menu :nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .footer__menu :nth-child(5) {
    grid-column: 3;
    grid-row: 1;
  }

  .social {
    max-width: 9rem;
    margin-left: auto;
  }

  .social__icon {
    font-size: 28px;
  }
}